@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

.App {
  text-align: center;
}

.App__myText {
  margin-left: 240px;
  background-color: rgb(173, 247, 197);
  margin-top: 0px;
  margin-bottom: 0;
  padding: 16px;
  color: #393939;
  font-family: "Sacramento", cursive;
  font-size: 36px;
}

@media (max-width: 767px) {
  .App__myText {
    margin-left: 0;
    text-align: right;
    font-size: 1.8em;
    letter-spacing: -1px;
  }
}

.Title {
  padding-bottom: 20px;
  position: relative;
}

.ShowMenu {
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 0px;
  top: 42%;
  transform: translate(10%, -50%);
}

.ShowMenu img {
  width: 35px;
}
