.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  /* .Backdrop {
    display: block;
  } */
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
