.aboutMe{
    margin-left: 240px;
}

.aboutMe__content {
    width: 80%;
    margin: 50px auto;
    background-color: rgb(228, 254, 255);
}

.aboutMe__content__2 {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    font-size: 120%;
}

.aboutMe__aboutme{
    padding-top: 16px;
    padding-bottom: 3px;
    border-bottom: 2px solid gray;
}

.aboutMe_education {
    margin-bottom: 16px;
}

#aboutMe_education__lastchild {
    padding-bottom: 16px;
}