.home {
    margin-left: 240px;
}

.home__content {
    background-color: rgb(228, 254, 255);
    width: 70%;
    margin: -15px auto;
}
#home__firstchild {
    padding-top: 26px;
}
#myName {
    border-bottom: 3px solid gray;
    transition: background-color 0.2s, color 0.2s;
}

#myName:hover {
    background-color: gray;
    color: white;
}
.home__subcontent2 {
    background-color: olivedrab;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    color: white;
}

#home__lastChild {
    padding-bottom: 36px;
}

#bangladesh {
    color: rgb(250, 96, 96);
    background-color: green;
}

#javascript {
    background-color: rgb(240, 219, 79);
    color: black;
}

#reactjs{
    background-color: rgb(97, 218, 251);
}

#openSource{
    background-color: rgb(61, 166, 57); 
}

#currentWork {
    background-color: rgba(0, 0, 0, 0.2);
}

#currentWork a {
    text-decoration: none;
    color: #606060;
}

#currentWork a:hover {
    color: #fff;
}
