.Home {
  margin-left: 240px;
}

@media (max-width: 767px) {
  .Home {
    margin-left: 0;
  }
}

.HomeContent {
  background-color: rgb(228, 254, 255);
  width: 85%;
  margin: -15px auto;
}

.HomeContent div:last-child {
  padding-bottom: 36px;
}

@media (max-width: 767px) {
  .HomeContent {
    width: 100%;
    margin: -20px auto 15px;
  }
}

.MyNameWrap {
  padding-top: 26px;
  margin-bottom: 50px;
}
.MyName {
  border-bottom: 3px solid gray;
  transition: background-color 0.2s, color 0.2s;
  margin-left: 15px;
}

.MyName:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}
