.sideBar {
  background-color: #242b37;
  position: fixed;
  height: 100%;
  width: 240px;
  z-index: 200;
  top: 0;
  left: 0;
  overflow: hidden;
}

.profilePic {
  width: 100%;
  padding-top: 20px;
}

.profilePic__img {
  width: 70%;
  border-radius: 10%;
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
}

.sideBar__activeClass {
  background-color: gray;
}

#NavLink__fistchild {
  margin-top: 16px;
}
.NavLink {
  display: block;
  text-decoration: none;
  color: white;
  padding: 14px;
  border-left: 3px solid transparent;
  transition: all 0.2s;
}

.NavLink:hover {
  background-color: rgb(94, 89, 89);
  border-left: 3px solid white;
}
