.experience {
  margin-left: 240px;
}

.experience__content {
  width: 80%;
  margin: 50px auto;
  background-color: rgb(228, 254, 255);
  padding: 0 36px 10px;
  font-size: 120%;
  text-align: center;
}

.experience__about {
  padding-top: 16px;
  padding-bottom: 15px;
  border-bottom: 2px solid gray;
}

.experience_education {
  padding-bottom: 16px;
}

@media (max-width: 767px) {
  .experience {
    margin-left: 0;
  }

  .experience__content {
    margin: -20px auto 15px;
  }
}

.a {
  color: currentColor;
  text-decoration: none;
}

.a:hover {
  text-decoration: underline;
  color: #0ec87b;
}

.exp:not(:last-child) {
  border-bottom: 1px solid #19c945;
}
